<!-- flash success message alert -->
<% if(successMsg && successMsg.length > 0) <!-- if the success message array exits and is not empty, then only render the below div tag -->
{  %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= successMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% }  %>

<!-- flash error message alert -->
<% if(errorMsg && errorMsg.length > 0) <!-- if the error message array exits and is not empty, then only render the below div tag -->
{  %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= errorMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div>
<% }  %>


